

.plans {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 190px;
	grid-column-gap: 20px;
	grid-row-gap: 0px;
}

.billing {
	background-color: hsl(217, 100%, 97%);
	margin-top: 40px;
	padding: 10px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	gap: 25px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  background-color: hsl(213, 96%, 18%);
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

/* yearly if checked*/

.monthly,
.yearly {
	font-weight: 500;
	text-transform: capitalize;
	transition: color .4s;
}

.yearly {
	color: hsl(231, 11%, 63%);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);

}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (max-width: 725px) {
	.plans {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
}
